.dev-type-summary {
    display: inline-flex;
    margin-right: 16px;
    font-size: 12px;
    align-items: center;
  }
  
  .dev-type-be {
    color: #0052cc;
    margin-right: 8px;
  }
  
  .dev-type-fe {
    color: #00875a;
    margin-right: 8px;
  }
  
  .dev-type-fullstack {
    color: #6554c0;
  }